* {
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
}

#kds-display {
	width: 100%;
	display: grid;
	cursor: pointer;
}

#kds-display .kds-item {
	flex: 1;
	border: 1px #131313 solid;
	padding: 3px;
}

#kds-display .kds-item div, #kds-display .kds-item table tr td {
	padding: 0 5px;
}

#kds-display .active {
	border: 4px #131313 solid !important;
	padding: 0
}

@keyframes blink {
  0% { background-color: red; }
  50% { background-color: white; }
  100% { background-color: red; }
}

.rushed {
  animation: blink 1s infinite;
}

#kds-display .kds-item .kds-header-time {
	display: flex;
	justify-content: center;
}

#kds-display .kds-item .kds-header-user {
	display: flex;
	justify-content: space-between;
}

#kds-display table {
	border-collapse: collapse;
	width: 100%;
}

iframe {
	width: 100%;
	height: calc(100% - 65px);
}

#toolbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#toolbar button, #back {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	border: 1px #151515 solid;
	margin: 5px;
	box-sizing: border-box;
}

#recall-table {
	width: calc(100% - 20px);
	border-collapse: collapse;
	margin: 10px;
}

#recall-table th {
	text-align: left;
}

#recall-table tr:nth-child(even) {
  background-color: #e4e4e4;
}

#recall-table button {
	width: 150px;
	height: 50px;
	border: 1px #151515 solid;
	border-radius: 5px;
}

#recall-table table {
	border-collapse: collapse;
	position: absolute;
	background-color: #d1d1d3;
	transform: translate(calc(-100% ),-50px);
	border: 10px #d1d1d3 solid;
}

#kitchen-selector {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#kitchen-selector button {
	width: 150px;
	height: 50px;
	display: block;
	margin-bottom: 10px;
}
