div.top_bund  {
	background:url('../img/knap_bg.gif');
	background-repeat:repeat;
	border: 1px solid rgb(180, 180, 255);
	height: 18px;
	width: 100%;
	margin-bottom: 0px;
}
div.luk {
	position:relative;
	top: 1px;
	right: 2px;
	font-size: 13px;
	background:url('../img/luk.gif');
	background-repeat:no-repeat;
	background-position:right;
	height: 18px;
	margin-bottom: 0px;
}
.inputbox {
	font-size: 13px;
	margin-bottom: 1px;
	padding: 3px 2px;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
}
	a.myButton {
border:1px solid #ffffff;
text-decoration:none;
position:static;
}
 a.myButton:active {
position:relative;
top:+2px;
left:+2px;
}
a.posmenuknap {
	display:block;
	width:100%;
	height:100%;
}
div.vindue  {
	position:relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: auto;
}
div.ffvindue  {
	position:relative;
	top: 0px;
	left: 0px;
	height: 300px;
	width: 100%;
	overflow: auto;
}
.boldtable, .boldtable TD, .boldtable TH
{
font-family:sans-serif;
font-size:20pt;
}

/*input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	}

	@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2)
{*/

#color-reset {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 140%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#choose-item {
  text-decoration: underline;
  cursor: pointer;
}

#funk-help, #varekort-btn {
  right: 5px;
  top: 5px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.popup {
  display: none;
  position: absolute;
  width: 60%;
  height: 400px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 5px;
}

.popup #search-menu, .popup #search-vare {
  width: 100%;
}

.popup #menu-table, .popup #vare-table {
  width: 100%;
}

.popup #menu-table-tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#modal-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #10101010;
}
