body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
 }

div.top_bund  {
	background:url('../img/knap_bg.gif');
	background-repeat:repeat;
	border: 1px solid rgb(180, 180, 255);
	height: 18px;
	width: 100%;
	margin-bottom: 0px;
}
div.luk {
	position:relative;
	top: 0px;
	right: 1px;
	font-size: 13px;
	background:url('../img/luk.png');
	background-repeat:no-repeat;
	background-position:right;
	height: 20px;
	margin-bottom: 0px;
}
div.vindue  {
	position:relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: auto;
}
.inputbox {
	margin-bottom: 1px;
	font-size: 12px;
	padding: 1px 1px;
	height: 20px;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
}
a.myButton {
border:1px solid #ffffff;
text-decoration:none;
position:static;
}
 a.myButton:active {
position:relative;
top:+2px;
left:+2px;
}
