/* 
    Document   : style
    Created on : 19-09-2012, 14:43:09
    Author     : per kringelbach
    Description:
        Purpose of the stylesheet follows.
*/

*
{
    margin: 0px;
    padding: 0px;
}

html 
{
    height: 100%;
}

body
{
    font: normal 10px Arial, Helvetica, sans-serif;
    color: #444;
    height: 100%;
}

a, img
{
    outline: none;
}

#wrapper
{
    width: 100%;
    height: 10%;
    background-color: white;
    margin-bottom: -30px;
}

.right{float: right;}
.left{float: left;}
.bold{font-weight: bold;}
.redText{color: red;}

#headerTop
{
    width: 100%;
    height: 30px;
    #background-color: gold;
}
/*--------------------------------------*/
/*          her starter menuen          */

#menubarholder
{
    padding: 2px 0px 2px 0px;
    width: 978px;
    #background-color: gold;
    position: absolute;
    margin: 0 auto;
    right: 0px; left: 0px;
}

#menubar
{
    width: 978px; 
    height: 20px;   
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    background: -o-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border-radius: 0 \0/IE89; /* disable IE8 and IE9 round corner*/

    -moz-box-shadow: 0px 3px 3px #cecece;
    -webkit-box-shadow: 0px 3px 3px #cecece;
    box-shadow: 0 3px 4px #8b8b8b;
}

.navbar
{
    width: 978px;
    display: table;
    float: left;
    table-layout: fixed;
    text-align: center;
    text-decoration: none;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    display: table-cell;
    position: relative;
}

.navbar li a {
    #border-right: 1px solid #5d5d5d;
    display: block;  
    #height: 2px;
    vertical-align: middle;
    color: #d7d7d7;
    vertical-align: baseline;
    #margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    #padding: .55em 2em .55em;
    padding: 3px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.navbar li:last-child a
{
    border-right: none;
}

.navbarlink
{
    border-right: 1px solid #5d5d5d;
}

.navbar li:hover >  a
{
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    background: -o-linear-gradient(top,  #757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');  
}

.navbarActive 
{
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    background: -o-linear-gradient(top,  #575757,  #888);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
/* alle listmenuerne vil værer usynlig fra start */
.navbar ul
{
    display: none;
}
/* her bliver listmenuen synlig */
.navbar li:hover > ul
{
    display: block;
}

/* Sub-menu */
.navbar ul.subnavbar {
    list-style: none;   
    margin: 0;
    padding: 0;    
    display: none;
    position: relative;
    top:8px;

    z-index: 99999;    
    background: #444;
    #background: -moz-linear-gradient(#444, #111);
    #background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    #background: -webkit-linear-gradient(#444, #111);    
    #background: -o-linear-gradient(#444, #111);	
    #background: -ms-linear-gradient(#444, #111);	
    #background: linear-gradient(#444, #111);	
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-radius: 0em \0/; /* disable IE9 round corner*/

    -moz-box-shadow: 0px 3px 3px #cecece;
    -webkit-box-shadow: 0px 3px 3px #cecece;
    box-shadow: 0 3px 4px #8b8b8b;
}

.navbar ul.subnavbar li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

.navbar ul.subnavbar li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

.navbar ul.subnavbar li a{    
    padding: 4px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html .subnavbar a{ /* IE6 */
    height: 4px;
   
}

*:first-child+html .subnavbar li a{ /* IE7 */  
    height: 4px;
   
}

.navbar ul.subnavbar li a:hover{
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    background: -o-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.navbar ul.subnavbar li a:active{
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    background: -o-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.navbar ul.subnavbar li:first-child a{
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.navbar ul.subnavbar li:first-child a:after{
    content: ''; 
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444; 
}

.navbar ul.subnavbar li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

.navbar ul.subnavbar li:first-child a:active:after{
    border-bottom-color: #0078a5; 
}

.navbar ul.subnavbar li:last-child a{
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
/* style til aktiv submenu */
.subnavbarActive a{
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    background: -o-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
    
}
.subnavbarActive:first-child:after{
    content: ''; 
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #0078a5; 
}
.subnavbarActive:first-child:hover:after{
    border-bottom-color: #04acec;
}
.subnavbarActive:first-child:active:after{
    border-bottom-color: #0078a5;
}

/* Clear floated elements */
.navbar ul.subnavbar:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
*/
* html ul.subnavbar             { zoom: 1; } /* IE6 */
*:first-child+html ul.subnavbar { zoom: 1; } /* IE7 */

/* Last sub-menu with rosy logout */
.navbar ul.subnavbarLast {
    list-style: none;   
    margin: 0;
    padding: 0;    
    display: none;
    position: relative;
    top:8px;

    z-index: 99999;    
    background: #444;
    
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-radius: 0em \0/; /* disable IE9 round corner*/

    -moz-box-shadow: 0px 3px 3px #cecece;
    -webkit-box-shadow: 0px 3px 3px #cecece;
    box-shadow: 0 3px 4px #8b8b8b;
}

.navbar ul.subnavbarLast li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

.navbar ul.subnavbarLast li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

.navbar ul.subnavbarLast li a{    
    padding: 4px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html .subnavbarLast a{ /* IE6 */
    height: 4px;
    #width: 150px;
}

*:first-child+html .subnavbarLast li a{ /* IE7 */  
    height: 4px;
    #width: 150px;
}

.navbar ul.subnavbarLast li a:hover{
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    background: -o-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.navbar ul.subnavbarLast li a:active{
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    background: -o-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* Rosy til logud */
.navbar ul.subnavbarLast li:last-child a:hover {
    background: #ba4b58;
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
    background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
    background: -o-linear-gradient(top,  #cf5d6a,  #a53845);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.navbar ul.subnavbarLast li:last-child a:active {
    color: #dca4ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
    background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
    background: -o-linear-gradient(top,  #bf404f,  #f16c7c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

.navbar ul.subnavbarLast li:first-child a{
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.navbar ul.subnavbarLast li:first-child a:after{
    content: ''; 
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444; 
}

.navbar ul.subnavbarLast li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

.navbar ul.subnavbarLast li:first-child a:active:after{
    border-bottom-color: #0078a5; 
}

.navbar ul.subnavbarLast li:last-child a{
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/* Clear floated elements */
.navbar ul.subnavbarLast:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html ul.subnavbarLast             { zoom: 1; } /* IE6 */
*:first-child+html ul.subnavbarLast { zoom: 1; } /* IE7 */



/*---------------------------------------------------*/
/*             her starter header                    */

#header
{
    width: 100%;
    min-width: 980px;
    margin: 0 auto;
    height: 50px;
    padding-bottom: 7px;
    text-align: center;
    #border-bottom: 1px solid lightgray;
    #background-color: #04acec;
		overflow: hidden;
}

#header2
{
    width: 980px;
    margin: 0 auto;
    height: 50px;
    padding-bottom: 7px;
    text-align: center;
    #border-bottom: 1px solid lightgray;
    #background-color: #04acec;
		overflow: hidden;
}

#headerLittleWindow {
    width: 500px;
}

.headerTxt
{
    font-size: 14px;
    font-weight: bold;
    color: #5d5d5d;
    background-color: #ffffff;
    text-align: center;
}
.headerbtnRght
{
    float: right;
    margin: 15px 12px 0px 0px;
    width: 250px;
    height: 30px;
    #background-color: chartreuse;
}
.headerbtnLft
{
    float: left;
    margin: 25px 0px 0px 12px;
    width: 250px;
    height: 30px;
    #background-color: chartreuse;
}

/*-----------------------------------------------*/
/*              Pop-up Little Window             */

#headerSmallWindow
{
    min-width: 500px;
    height: 30px;
    padding-bottom: 7px;
    padding-top: 10px;
    text-align: center;
    #border-bottom: 1px solid lightgray;
    #background-color: #04acec;
        overflow: hidden;
}

.headerLittleTxt
{
    margin: 20px 12px 0px 0px;
    font-size: 14px;
    font-weight: bold;
    color: #5d5d5d;
    background-color: #ffffff;
    text-align: center;
}
.headerLittlebtnRght
{
    float: right;
    margin: 15px 12px 0px 0px;
    width: 100px;
    height: 25px;
    #background-color: chartreuse;
}
.headerLittlebtnLft
{
    float: left;
    margin: 15px 12px 0px 0px;
    width: 100px;
    height: 25px;
    #background-color: chartreuse;
}

.littleWindowTxt {
    padding-top: 200px;
}

a.littleWindowLink:link, a.littleWindowLink:visited {
    text-decoration: none;
    padding: 10px;
    background: #EEEDF0;
    color: #000;
    border: 1px solid #E1DAF0;
}

a.littleWindowLink:hover, a.littleWindowLink:active {
    text-decoration: none;
    color: #383838;
}

/*-----------------------------------------------*/
/* her er submenu som bliver brugt på alle sider *//* skal slettes??? */
/*
#submenubar
{
    width: 100%; 
    height: 20px;   
    color: #606060;
    border-bottom: 1px solid lightgray;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    background: -o-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');

    overflow: hidden;
    position: absolute;
}
#submenubarBox
{
    width: 100%;
    display: table; 
}
.menubarLeft {
    display: table-cell;
    width:300px;
    padding-left: 20px;
    #background-color: #04acec;
}
.menubarCenter {
    display: table-cell;
    width: 340px;
    #background-color: #dca4ab;
}
.menubarCenterTable {
    display: table;   /* Allow the centering to work 
    margin: 0 auto;
}
.menubarRight {
    display: table-cell;
    width:300px;
    padding-right: 20px;
    #background-color: lime;
}

#submenubar ul
{      
    height:20px;
    line-height:20px;  
    width:100%;
    margin:0px;
    padding:0px;
    list-style: none;
    float: left;
}

#submenubar li
{
    float: left;     
}

#submenubar li a
{   
    display: block;   
    vertical-align: middle;
    #color: #606060;
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 12px/100% "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    padding: 4px 10px 4px; 
    text-shadow: 0 1px 1px rgba(0,0,0,.3);  
}

*/
/*-----------------------------------------------------*/
/*      her er style til hovedindhold på siden         */

/* style til venstre menu 
#leftmenuholder
{
    width: 168px;
    float: left;
    margin-right: 8px;
}

.leftmenuhead
{
    text-align: center;
    font-weight: bold;  
    padding: 5px 0;
    margin-top: -5px;
    background-color: lightgray;
}

.leftmenu
{
    width: 166px;
    #height: 200px;
    float: left;
    font-size: 11px;
    padding: 5px 0;
    line-height: 17px;
    margin:0px 0px 8px 0px;
    border: 1px solid lightgray;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    overflow: hidden;
}

.leftmenu li
{
    list-style-type: none;
}

.leftmenu li a
{ 
    display: block;
    padding: 2px 12px;
    color: #333;
    text-decoration: none; 
    outline:none;
}

.leftmenu li a:hover, leftmenu li a:active
{
    color:#0085cf;
    background-color: #d6e5f2;
}

.leftmenu hr
{
    border: 0 none;
    color: lightgray;
    background-color: lightgray;
    height: 1px;
    margin: 9px 8px;
}
/* her slutter venstremenu */

/* her starter style til hovedindhold med venstre menu 
.maincontent
{
    width: 802px;  
    float: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.maincontent hr
{
    border: 0 none;
    color: lightgray;
    background-color: lightgray;
    height: 1px;
    margin: 9px 0px;
}

.content
{
    width: 778px;
    padding: 5px 12px;  
    overflow: hidden;
}

.content hr
{
    border: 0 none;
    color: #444;
    background-color: #444;
    height: 1px;
    margin: 4px 0px;
}
/*-----------------------------------------------------*/
/* her er style til hovedindhold der fylder hele siden */
.maincontentLargeHolder
{
    padding:0px 5px 5px;   
    margin: auto;
    display: flex;
    justify-content: center;
}

.maincontentLarge
{
    width: 100%;  
    float: left;  
    #margin-top: 31px;
    margin-bottom: 10px;

    border: 1px solid lightgray;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
}

.maincontentLarge hr
{
    border: 0 none;
    color: lightgray;
    background-color: lightgray;
    height: 1px;
    margin: 9px 0px;
}

.contentLarge
{
    padding: 5px 12px;  
    overflow: hidden;
    #background-color: #da7c0c;
}

.contentLarge hr
{
    border: 0 none;
    color: #444;
    background-color: #444;
    height: 1px;
    margin: 4px 0px;
}

.rightContent
{
		margin-left: 156px;
}
/*-------------------------------------*/
/*      her er style til tables        */

table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
 }

.dataTable 
{
    width: 90%;
    #min-width: 980px;
    #max-width: 980px;
    table-layout: fixed; /* skal være på for at text-overflow: ellipsis virker*/
    border: 1px solid lightgray;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10pt;
}

.dataTable thead th
{
    padding: 5px 0;
    text-indent: 20px;
    background-color: lightgray;
    
    #overflow: hidden;
    white-space:nowrap;
    #text-overflow: ellipsis;
    #-o-text-overflow: ellipsis;
    #-webkit-text-overflow: ellipsis;
}

.dataTable thead th.header { 
    background-image: url(../img/bg.gif);     
    cursor: pointer;   
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-right: 20px; 
    border-right: 1px solid #fff;      
} 

.dataTable thead th.header:last-child {
    #background-image: none;
    #cursor: default;
    border-right: none;
}

.dataTable thead th.headerSortUp { 
    background-image: url(../img/asc.gif); 
    #background-color: #3399FF;
    color:#0085cf;
    text-decoration: underline;
} 

.dataTable thead th.headerSortDown { 
    background-image: url(../img/desc.gif); 
    #background-color: #3399FF;
    color:#0085cf;
    text-decoration: underline;
} 

.dataTable thead th a
{
    color: #333;
    font-weight: bold;
    text-decoration: underline; 
    outline:none;
}

.dataTable thead th a:hover
{
    color:#0085cf;
}

.dataTable thead td
{
    padding: 5px 7px;
    background-color: #f2f2f2;
}

.dataTableFirst td:first-child 
{
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}

.dataTableFirst td:last-child 
{
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
}

.dataTableHeadBorder tr th
{
    border-right: 1px solid #fff;
}

.dataTableHeadBorder tr th:last-child
{
    border-right: none;
}

.dataTableNoSort tr th
{
    padding-right: -20px;
    text-indent: 0px;
    padding: 5px 7px;
}

/*
.dataTable tbody tr:nth-child(even) 
{
    background:#F2F2F2;  
}

.dataTable tbody tr:nth-child(even) td
{
    border-right: 1px solid #fff;
}

.dataTable tbody tr:nth-child(even) td:nth-last-child(-n+2)
{
    border-right: none;
}

.dataTable tbody tr:nth-child(odd) td
{
    border-right: 1px solid #F2F2F2;
}

.dataTable tbody tr:nth-child(odd) td:nth-last-child(-n+2)
{
    border-right: none;
}
*/

.dataTable tbody tr td
{
    padding: 5px 7px;
    
    #overflow: hidden;
    white-space:nowrap;
    #text-overflow: ellipsis;
    #-o-text-overflow: ellipsis;
    #-webkit-text-overflow: ellipsis;
}
/*
.dataTable tbody tr td a
{
    display: block;
    outline: none;
    color: #444;
    padding: 5px 7px;
    margin: -5px -7px;
    
    #overflow: hidden;
    white-space:nowrap;
    #text-overflow: ellipsis;
    #-o-text-overflow: ellipsis;
    #-webkit-text-overflow: ellipsis;
}

.dataTable tbody tr td a:hover
{
    color: black;
    background-color: #6FD1F7; 
    
}

.dataTable tbody tr td a:active
{
    color: black;
    background-color: #00adee;
}
.dataTable tbody tr:hover 
{
    color:#0085cf;
    background-color: #d6e5f2;
}
.dataTable tbody tr:hover a
{
    color:#0085cf;
    background-color: #d6e5f2;
}
*/
.dataTableBody tr td
{
    padding: 5px 7px;
    
    #overflow: hidden;
    white-space:nowrap;
    #text-overflow: ellipsis;
    #-o-text-overflow: ellipsis;
    #-webkit-text-overflow: ellipsis;
}

.dataTableBody tr td a
{
    display: block;
    outline: none;
    color: #444;
    padding: 5px 7px;
    margin: -5px -7px;
    
    #overflow: hidden;
    white-space:nowrap;
    #text-overflow: ellipsis;
    #-o-text-overflow: ellipsis;
    #-webkit-text-overflow: ellipsis;
}

.dataTableBody tr td a:hover
{
    color: black;
    background-color: #6FD1F7; 
    
}

.dataTableBody tr td a:active
{
    color: black;
    background-color: #00adee;
}
.dataTableBody tr:hover td
{
    color:#0085cf;
    background-color: #d6e5f2;
}
.dataTableBody tr:hover a
{
    color:#0085cf;
    background-color: #d6e5f2;
}

.dataTableLink tr td a, .dataTableLink tr th a
{
    outline: none;
    color: #444;
    text-decoration: underline;
}
.dataTableLink tr td a:hover, .dataTableLink tr th a:hover
{
    color: black;
}
.dataTableLink tr td a:active, .dataTableLink tr th a:active
{
    color:#0085cf;
}
/* forskellige border til table */
.dataTableSolidBorder tr td
{
    border-right: 1px solid lightgray;
}

.dataTableSolidBorder tr td:last-child
{
    border-right: none;
}

.dataTableTopBorder tr:first-child td /* skal sættes på en tbody */
{
    border-top: 1px solid #F2F2F2;
}

.dataTableTopBorderGray tr:first-child td /* skal sættes på en tbody */
{
    border-top: 1px solid lightgray;
}

.dataTableTopBorderBlack tr:first-child td /* skal sættes på en tbody */
{
    border-top: 1px solid #444; 
}
.dataTableBorderBlack td
{
    border-top: 1px solid #444;
}
.borderGray{border-top:1px solid lightgray;}

/* zebra baggrund */
.dataTableZebra tr:nth-child(even)
{
    background:#F2F2F2;
}

/* zebra baggrund med border */
.dataTableZebraBorder tr:nth-child(even) 
{
    background:#F2F2F2;  
}

.dataTableZebraBorder tr:nth-child(even) td
{
    border-right: 1px solid #fff;
}

.dataTableZebraBorder tr:nth-child(even) td:nth-last-child(-n+2)
{
    border-right: none;
}

.dataTableZebraBorder tr:nth-child(odd) td
{
    border-right: 1px solid #F2F2F2;
}

.dataTableZebraBorder tr:nth-child(odd) td:nth-last-child(-n+2)
{
    border-right: none;
}
/*
.dataTableZebraBorder tr td a
{
    display: block;
    outline: none;
    color: #444;
    padding: 5px 7px;
    margin: -5px -7px;
    white-space:nowrap; 
}

.dataTableZebraBorder tr td a:hover
{
    color: black;
    background-color: #6FD1F7; 
    
}

.dataTableZebraBorder tr td a:active
{
    color: black;
    background-color: #00adee;
}
*/
.dataTableZebraBorderAll tr:nth-child(even) 
{
    background:#F2F2F2;  
}

.dataTableZebraBorderAll tr:nth-child(even) td
{
    border-right: 1px solid #fff;
}

.dataTableZebraBorderAll tr:nth-child(even) td:last-child
{
    border-right: none;
}

.dataTableZebraBorderAll tr:nth-child(odd) td
{
    border-right: 1px solid #F2F2F2;
}

.dataTableZebraBorderAll tr:nth-child(odd) td:last-child
{
    border-right: none;
}

.alignRight
{
    text-align: right;
}
.alignRightTwoLeft
{
    text-align: right;
}
.alignRightTwoLeft tr td:nth-child(-n+2)
{
    text-align: left;
}


/* her styles til table med fixed bredde */

.dataTable2
{
    width: 980px;
    margin: 0 auto;
    border: 1px solid lightgray;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin-top: 10px;
}

.dataTable2 thead th
{
    padding: 5px 0;
    #text-indent: 20px;
    background-color: lightgray;
}

.dataTable2 tbody tr td
{
    padding: 5px 7px;            
}

.dataTable2 tbody tr ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.dataTable2 tbody tr ul li
{
    padding: 5px 7px;
    margin: 0px -7px;
    
}

.dataTable2 tbody tr ul li a
{
   
}
.dataTable2 tbody tr ul li:nth-child(even)
{
    background:#F2F2F2; 
}

/* her er styles til visning af kontokort */
.dataTable3
{
    width: 100%;
    min-width: 980px;
    border: 1px solid lightgray;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.dataTable3 thead th
{
    padding: 5px 0;
    background-color: lightgray;
}
.dataTable3 thead tr td
{
    padding: 5px 7px;            
}
.dataTable3 tbody tr td
{
    padding: 0px 7px;            
}
/* animation og glow på inputfelterne */
input[type=text], input[type=checkbox], textarea, select {
-webkit-transition: all 0.30s ease-in-out;
-moz-transition: all 0.30s ease-in-out;
-ms-transition: all 0.30s ease-in-out;
-o-transition: all 0.30s ease-in-out;
outline: none;
background-color: #fff;
border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=checkbox]:focus, textarea:focus, select:focus {
-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
box-shadow: 0 0 5px rgba(81, 203, 238, 1);

border: 1px solid rgba(81, 203, 238, 1);
#border: 1px solid #51CBEE;
}

select:focus, input[type=checkbox]:focus {
    #outline: none;
    
}

input[type="checkbox"]{/* rykker alle checkbox 2px ned */
    margin-top: 2px;
}
.rightText{
    float: right;
    width: 198px; 
}
.rightTextLarge{
    float: right;
    width: 525px;
}
.rightTextXLarge{
    float: right;
    width: 800px;
}
.rightTextarea{
    float: right; 
    width: 538px;
}
.text{
    #float: right;
    width: 194px;
}

.textSmall{
    float: left;
    width: 50px;
}

.textXSmall{
    width: 25px;
}
.textMedium{
    float: left;
    width: 136px;
}

.textMediumLarge{
    float: left;
    width: 170px;
}
.textLarge{
    float: left;
    width: 519px;
}
.textXLarge{
    float: left;
    width: 807px;
}
.textSpace{
    margin-left: 6px;
}
.textSpaceLarge{
    margin-left: 12px;
}
.clear{   
    clear:both;   
}
.placeholder {color: #aaa;}
.dataTable hr, .dataTable2 hr
{
    border: 0 none;
    color: #444;
    background-color: #444;
    height: 1px;
    margin: 0px -8px;
}
.dataTable3 hr
{
    border: 0 none;
    color: #444;
    background-color: #444;
    height: 1px;
    margin: 7px -8px;
}
/* style til input-field */
.textinput
{
    width:100%;
    border: 1px solid lightgray;
    background:#fff url('../img/textinputbg.gif') repeat-x;
    color: #444;
    text-indent: 3px;
    padding: 3px 0;  
    font-size: 12px;
}

.textinputBefore
{
    width:100%;
    color: #444;
    text-indent: 3px;
    padding: 3px 0;  
    font-size: 12px;
}

.selectinput
{
    width:100%;
    border: 1px solid lightgray;
    background:#fff url('../img/textinputbg.gif') repeat-x;
    color: #444;
    text-indent: 3px;
    line-height: 15px;
    padding: 2px 0;
    font-size: 12px;
}
noindex:-o-prefocus, .selectinput {/* opera hack */
    padding: 3px 0;
}

.textinputSimple
{
    width: 100%;
    border: 1px solid lightgray;
    color: #444;
    font-size: 12px;
    display: block;
    margin: -2px -2px -2px -3px;
    padding: 2px 2px 2px 3px;
}
.textinputSmall
{
    width: 50px;
    border: 1px solid lightgray;
    color: #444;
    font-size: 12px;
    padding: 1px 0;
}
.selectinputSmall
{
    width: 40px;
    border: 1px solid lightgray;
    color: #444;
    font-size: 12px;
}
noindex:-o-prefocus, .selectinputSmall {/* opera hack */
    padding: 1px 0;
}
/*-------------------------------------*/
/* her er style til knapperne på siden */

.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    #margin-top:5px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    border-radius: 0 \0/IE89; /* disable IE8 and IE9 round corner*/
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px; 
}

.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}
.smallRound {
    font-size: 11px;
    padding: 3px 4px 3px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-radius: 0 \0/IE89; /* disable IE8 and IE9 round corner*/
}

.widebtn {
    width:100%;
}

/* blue */
.blue, .blue:link, .blue:visited {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    background: -o-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    text-decoration: none;
}
.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    background: -o-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
    text-decoration: none;
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    background: -o-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
    text-decoration: none;
}

/* gray */
.gray, .gray:link, .gray:visited {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    background: -o-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
    text-decoration: none;
}
.gray:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    background: -o-linear-gradient(top,  #757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
    text-decoration: none;
}
.gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    background: -o-linear-gradient(top,  #575757,  #888);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
    text-decoration: none;
}

/* white */
.white, .white:link, .white:visited {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
    text-decoration: none;
}
.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
    text-decoration: none;
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
    text-decoration: none;
}

/* orange */
.orange, .orange:link, .orange:visited {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    text-decoration: none;
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
    text-decoration: none;
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
    text-decoration: none;
}

/* red */
.red, .red:link, .red:visited {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
    text-decoration: none;
}
.red:hover {
    color: #faddde;
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top,  #c9151b,  #a11115);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
    text-decoration: none;
}
.red:active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
    text-decoration: none;
}

/* rosy */
.rosy, .rosy:link, .rosy:visited {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
    text-decoration: none;
}
.rosy:hover {
    background: #ba4b58;
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
    background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
    text-decoration: none;
}
.rosy:active {
    color: #dca4ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
    background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
    text-decoration: none;
}

/* green */
.green, .green:link, .green:visited {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
    background: -o-linear-gradient(top,  #7db72f,  #4e7d0e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
    text-decoration: none;
}
.green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
    background: -o-linear-gradient(top,  #6b9d28,  #436b0c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
    text-decoration: none;
}
.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
    background: -o-linear-gradient(top,  #4e7d0e,  #7db72f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
    text-decoration: none;
}

@-moz-document url-prefix(http://) { /* fjerner den padding som firefox har sat på button */
    button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
        padding: 0px !important;
    border: 0px none !important;
}
}

.checkmark{
    display:block;
    width: 16px;
    height: 16px;
    float: left;
    background-repeat: no-repeat;
    background-image: url('../img/check_mark.png');
}
.checkmark:hover{
    background-image: url('../img/check_mark_hover.png');
}
.checkmark:active{
    background-image: url('../img/check_mark_active.png');
}
.xmark{
    display:block;
    width: 16px;
    height: 16px;
    float: left;
    background-repeat: no-repeat;
    background-image: url('../img/x_mark.png');
}
.xmark:hover{
    background-image: url('../img/x_mark_hover.png');
}
.xmark:active{
    background-image: url('../img/x_mark_active.png');
}
/*---------------------------------------------------*/
/*                 footer                            */
#footer
{
    text-align: center;
    width:100%;
    height:30px;
    line-height: 30px;
    vertical-align: middle;
    overflow:hidden;
}
div.vindue  {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: top;
    position:relative;
	top: 0px;
	left: 0px;
	height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
}

/*Normal links styling*/

a:link, a:visited {
    color: #304c93;
    text-decoration: underline;
}

a:hover, a:active {
    color: #74707c;
    text-decoration: none;
}

/* Style til tables */

/* Overskrift */
.tableHeader {
    font-size: 11pt;
    font-weight: bold;
    background: lightgrey;
    color: black;
}

/* Under overskrift */
.tableText {
    font-size: 10pt;
    font-weight: bold;
}

/*Underunder ovskrift*/
.tableTexting {
    font-size: 10pt;
    background: #E1DAF0;
}

/*Underunder ovskrift*/
.tableTexting2 {
    font-size: 10pt;
    background: #EEEDF0;
}

hr.hrtd {
    border: 0px solid #fff;
    background: #000000;
    width: 99%;
}

td.tdhr {
    text-align: center;
}

.importerAdresser {
    width: 1000px;
    overflow-x: auto;
    white-space: nowrap;
}
