#Nedenstående ser ud til at være gamle filer, der er blandet ind i /seneste ved en fejl
#===

# temp-filer
*~
*.orig

# .svn mapper
.svn/

# Specifikke
debitor/udlign_openpost.php
doc/tabelinfo/opret.sql
doc/brugervejledning.pdf
finans/genberegn.php
finans/ordre.php
finans/simuler.php
ikoner/eksporter.png
ikoner/l_arrow.gif
ikoner/l_arrow.png
ikoner/sqlfinans.png
ikoner/tux.gif
importfiler/formular_ny.txt
includes/betalingsdage.php
includes/dkdato.php
includes/usdate.php
includes/funktioner.php
includes/importer.php
includes/logoupload.php
includes/opdater.php
includes/ordrefunc.php.110110
index/backup.php
index/favicon.ico
index/komigang.html
lager/enheder.php
lager/vareimport.php
lager/vareliste.php
lager/vvsimport.php
systemdata/solarvvs.php

# Mappen Produktion ser ud til at være opgivet
produktion/

#*~
#.svn/

